<%= form_with(model: manufacture, local: true) do |form| %>
  <% if manufacture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manufacture.errors.count, "error") %> prohibited this manufacture from being saved:</h2>

      <ul>
      <% manufacture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
